.login_screen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1A3D6C;
}

.login_form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.form_group {
  display: flex;
  width: 240px;
  align-items: center;
  padding-left: 0.5rem;
}

.form_group input {
  padding: 0.21rem;
  border: none;
  background-color: #1A3D6C;
  color: wheat;
  border-bottom: 2px solid #FCA311;
  font-size: 1.1rem;
}

.password {
  width: calc(240px - 2rem);
}

.form_group label {
  height: 1.8rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  color: #1A3D6C;
  background-color: #FCA311;
}

.show_password {
  height: 1.6rem;
  width: 2rem;
  display: flex;
  padding-left: 0.1rem;
  padding-right: 0.2rem;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  color: #FCA311;
  border-bottom: 2px solid #FCA311;
}

.show_password:hover {
  cursor: pointer;
}

textarea:focus,
input:focus {
  outline: none;
}

/* .form_group:last-child {
  width: 100%;
  justify-content: flex-end;
} */

.login_btn {
  background-color: #FCA311 !important;
  border: 2px solid black !important;
  padding: .4rem 1rem !important;
  color: black !important;
  border-radius: 10px;
}

.login_btn:hover {
  cursor: pointer;
  color: rgba(218, 197, 159, 0.788);
  border-bottom: 2px solid rgba(218, 197, 159, 0.788);
}
